$bg-body: #f5f6fa;
$bg-header: #182C61;
$text-light: #fff;
$btn-primary: #44bd32;
$btn-hover: #4cd137;

$font-main: 'Roboto', sans-serif;

$container-width: 1024px;
$radius-md: 16px;
$radius-sm: 8px;
